---
const { text } = Astro.props
---
<span class="px-3 py-1 text-sm transition-all bg-blue-500 text-nowrap text-ctp-text dark:bg-sky-600 rounded-2xl hover:scale-105 hover:shadow-md hover:shadow-ctp-peach hover:dark:shadow-ctp-blue">{text}</span>