---
import "@styles/global.css";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { CodeXml, Workflow } from "lucide-astro";

import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/ui/Section.astro";

import Grid from "@components/ui/Grid.astro";
import Hero from "@components/Hero.astro";
import Pill from "@components/ui/Pill.astro";
import PortfolioPreview from "@components/PortfolioPreview.astro";
import Tool from "@components/Tool.astro";

import Skills from "@components/Skills.astro";
import tools from "@content/tools";

// Content Fetching: List four most recent work projects
const career = (await getCollection("work")).sort(
  (a: any, b: any) => a.data.order - b.data.order
);
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <Hero
          title="Hello, my name is Ilya Balter"
          tagline="I am a beginner DevOps engineer"
          align="start"
        >
          <div class="roles">
            <Pill><Workflow size={24} />DevOps</Pill>
            <Pill><CodeXml size={24} />Developer</Pill>
          </div>
        </Hero>

        <Image
          src="/resume_devops/assets/portrait.jpeg"
          alt="Ilya Balter"
          width="480"
          height="620"
          loading="eager"
        />
      </header>

      <Skills />
    </div>

    <main class="wrapper stack gap-20 lg:gap-48">
      <Section
        title="Selected Work"
        description="Take a look below at some of my featured work for clients from the past few years."
      >
        <Grid variant="offset">
          {career.map((project: any) => (
              <li>
                <PortfolioPreview project={project} />
              </li>
            ))}
        </Grid>
      </Section>

      <Section
        title="What i work with"
        description="I am an aspiring DevOps engineer with experience working with the following tools"
      >
        <Grid variant="small">
          {tools.data.map((tool: any) => <Tool entry={tool} />)}
        </Grid>
      </Section>
    </main>
  </div>
</BaseLayout>

<style lang="scss">
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media (min-width: 50em) {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    img {
      aspect-ratio: 5 / 4;
      object-fit: cover;
      object-position: top;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);

      @media (min-width: 50em) {
        aspect-ratio: 3 / 4;
        border-radius: 4.5rem;
        object-fit: cover;
      }
    }
  }

  .roles {
    display: none;

    @media (min-width: 50em) {
      margin-top: 0.5rem;
      display: flex;
      gap: 0.5rem;
    }
  }

  @media (min-width: 50em) {
    .hero {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;

      img {
        aspect-ratio: 3 / 4;
        border-radius: 4.5rem;
        object-fit: cover;
      }
    }
  }
</style>
