---
import { format } from "date-fns";

import { Icon } from "astro-icon/components";

import Pill from "@ui/Pill.astro";

const work: {
  title: string;
  dateStart: Date;
  dateEnd: Date;
  tags: string[];
  description: string;
}[] = [
  {
    title: 'SMARTCO SOLUTIONS',
    dateStart: new Date(2024, 8, 1),
    dateEnd: new Date(),
    tags: [
      "1C",
      "ERP Development",
      "Internal System Integration",
      "Repository Administration",
      "Database Administration",
    ],
    description: "Developed solutions in ERP, GDP, and TOIR configurations. Deployed and managed configuration storage repositories across various platforms. Built integrations with external mining operations accounting systems. Automated data export/import processes for mining operations."
  },
  {
    title: 'Eurasia Life Insurance Company',
    dateStart: new Date(2023, 8, 1),
    dateEnd: new Date(2024, 8, 1),
    tags: [
      "1C",
      "ERP Development",
      "Custom Reports",
      "Internal System Integration",
      "Sales Planning Module Development",
      "ESBD Integration",
    ],
    description: "Developed enhancements for the 'Enterprise Management' configuration adapted for the insurance sector. Created mechanisms and reports for implementing IFRS 17 standards. Led the development of new integration modules with the Unified Data System (UDS). Designed and implemented a sales planning and execution module as the lead developer."
  },
  {
    title: "Sulpak",
    dateStart: new Date(2023, 5, 1),
    dateEnd: new Date(2023, 8, 1),
    tags: [
      "1C",
      "Payroll Systems Development",
      "HR Module Automation",
      "Incentive Module Development",
    ],
    description: "Worked in the Payroll and HR Department, leading development projects related to employee motivation calculation and payouts, as well as the calculation and processing of deductions. Developed automation for creating, modifying, and deleting user accounts in the 1C system based on HR documentation."
  },
  {
    title: 'SVB Intellect Technologies',
    dateStart: new Date(2021, 8, 1),
    dateEnd: new Date(2023, 5, 1),
    tags: [
      "1C",
      "Module Development",
      "Custom Reports",
      "Extension Development",
      "Data Migration",
      "Integration Rules",
    ],
    description: "Developed new accounting modules, reports, data exchange rules, and enhanced standard configurations of BK 2.0 and 3.0, as well as 'Small Business Management'. Led the development of a new data exchange system between 'Holding Management' and 26 BK 3.0 databases for 'Global Beverages'. Spearheaded the creation of a student accounting module for UIB University."
  },
  {
    title: 'Move IT',
    dateStart: new Date(2021, 5, 1),
    dateEnd: new Date(2021, 8, 1),
    tags: [
      "1C",
      "Data Migration",
      "Extension Development",
      "Integration Rules",
    ],
    description: "Developed additional functionality based on the BK 3.0 configuration. Created a data migration exchange rule from BK 3.0 to 'Small Business Management' (UNF)." 
  },
];
---

<div
  class="col-start-5 col-end-13 row-span-3 resume-section 2xl:col-start-1 2xl:col-end-9"
>
  {
    work.map((info) => (
      <section class="work">
        <Icon
          name="Bookmark"
          size="34"
          class="z-10 p-1 rounded-full shadow-md line_icon bg-slate-200 dark:bg-slate-600 border-spacing-1 shadow-ctp-peach dark:shadow-ctp-blue"
        />
        <div class="flex flex-col items-start w-full gap-1 ml-6">
          <div class="w-full">
            <span class="text-lg text-left float-start">{info.title}</span>
            <span class="text-sm float-end">
              {format(info.dateStart, "MMM. yyyy")} -
              {format(info.dateEnd, "MMM. yyyy")}
            </span>
          </div>
          <div class="flex flex-row flex-wrap gap-3">
            {info.tags.map((tag) => (
              <Pill text={tag} />
            ))}
          </div>
          <span class="w-full text-sm text-start">{info.description}</span>
        </div>
      </section>
    ))
  }
</div>

<style lang="scss">
  .work {
    width: full;
    height: auto;
    display: flex;
    margin-left: 1rem;
    padding: 1rem 0;
    position: relative;

    &::before {
      background-color: var(--default-background);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: max(2px, 0.125rem);
    }
  }
  .line_icon {
    margin-left: calc(2rem / -2 + 2.22px);
  }
</style>
