---
const { text } = Astro.props
---
<span class="text-sm bg-[#4493f8] text-ctp-text dark:bg-[#1f6feb] rounded-2xl px-3 py-1 transition-all hover:scale-105 hover:shadow-md hover:shadow-ctp-peach hover:dark:shadow-ctp-blue">{text}</span>