---
import Pill from "@components/Pill.astro"

interface Props {
  category: string;
  skills: { icon: string; alt?: string }[];
}
const { category, skills } = Astro.props;
---

<div>
  <span>{category}</span>
  <ul class="flex flex-col gap-2">
    {skills.map((skill: { icon: string; }) => (
      <li>
        <Pill text={skill.icon}></Pill>
      </li>
      ))}
  </ul>
</div>