---
import { Flame, Cog, Speech } from "lucide-astro";

type icon = typeof Flame;
type Skill = {
  icon: icon;
  header: string;
  desc: string;
};
const skills: Skill[] = [];

addSkill(skills, Flame, "Eager", "I enjoy learning new things");
addSkill(skills, Cog, "Automator", "Driven to automate processes");
addSkill(
  skills,
  Speech,
  "Social",
  "Skilled in collaboration with developers, IT professionals, and clients"
);

function addSkill(skills: Skill[], icon: icon, header: string, desc: string) {
  skills.push({ icon, header, desc });
}
---

<section class="box skills">
  {
    skills.map((skill, index) => (
      <div class="stack gap-2 lg:gap-4">
        <skill.icon color="var(--accent-regular)" size="2.5rem" />
        <h2>{skill.header}</h2>
        <p>{skill.desc}</p>
      </div>
    ))
  }
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);

    @media (min-width: 50em) {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    h2 {
      font-size: var(--text-lg);
    }

    p {
      color: var(--gray-400);
    }

    @media (min-width: 50em) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;

      h2 {
        font-size: var(--text-2xl);
      }
    }
  }
</style>
