---
import type { CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";

import Pill from "@components/ui/Pill.astro";

interface Props {
  entry: CollectionEntry<"tools">;
}

const { data, slug } = Astro.props.entry;
---

<li class="mention-card">
  <span class="title">{data.title}</span>
  <div class="icons">
    {data.icons.map((t: string) => <Pill>{t}</Pill>)}
  </div>
</li>

<style lang="scss">
  .mention-card {
    display: flex;
    height: 7rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);

    @media (min-width: 50em) {
      border-radius: 1.5rem;
      height: 10.5rem;
    }
  }

  .title {
    z-index: 1;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--gray-200);
    border-radius: 0.375rem;

    @media (min-width: 50em) {
      border-radius: 0.9375rem;
    }
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
</style>
